.main {
    background-color: rgb(9, 112, 181);
}

.header {
    width: 100vw;
    height: 80px;
    position: relative;
    background: linear-gradient(to bottom, rgb(9, 112, 181), rgb(1, 76, 126));
    display: flex;
    justify-content: center;
    align-items: center;

    & h2 {
        font-size: 16px;
        color: white;
    }
}

.sign-in {
    position: absolute;
    width: 150px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 50px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    color: black;
}

.logo-header {
    width: 150px;
    height: auto;
    position: absolute;
    left: 80px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    filter: invert(100%);
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;

    & h4 {
        color: white;
        margin-top: 30px;
        font-size: 24px;
        font-weight: 400;
    }

    & .logo-name {
        width: 400px;
        height: auto;
        margin: 0 auto;
    }

    @media screen and (max-width: 500px) {
        .logo-name {
            width: 70%;
        }
    }

    & .submit-request {
        text-align: center;
        color: white;
        text-decoration: none;
        transition: 150ms;
    }

    & .submit-request:hover {
        scale: 1.05;
    }

    & .email-icon {
        width: 60px;
        height: auto;
        margin: 0 auto;
        margin-top: 50px;
        filter: invert(100%);
    }
}

.logo-home {
    width: 150px;
    height: auto;
    margin-top: 50px;
    filter: invert(100%);
}