.checkbox {
    display: none;
}

.request_custom_fields_24962896919323,
.request_custom_fields_24962889637019,
.request_custom_fields_24962908572315,
.request_custom_fields_24963698304667 {
    display: flex;
}

#request_custom_fields_24962896919323,
#request_custom_fields_24962889637019,
#request_custom_fields_24962908572315,
#request_custom_fields_24963698304667,
#request_custom_fields_24962896919323_label,
#request_custom_fields_24962889637019_label,
#request_custom_fields_24962908572315_label,
#request_custom_fields_24963698304667_label {
    display: none;
}

.btn-new-ticket-form,
.btn-checked {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row-reverse;
    width: 700px;
    height: 70px;
    text-align: left;
    background: none;
    border: none;
    transition: 250ms;
    font-size: 2rem;
    padding: 30px 0px 30px 10px;
    cursor: pointer;
}

.btn-new-ticket-form:hover {
    background-color: rgb(113, 113, 113);
    color: white;
}

.btn-new-ticket-form:hover>img {
    filter: invert(100%);
}

.btn-new-ticket-form img {
    width: 60px;
    height: auto;
    transition: 250ms;
}

.btn-checked {
    background-color: rgb(0, 113, 189);
    color: white;
}

.btn-checked img {
    filter: invert(100%);
}

.request_custom_fields_24963698304667 .btn-new-ticket-form {
    background-color: white;
}

.request_custom_fields_24963698304667 .btn-new-ticket-form:hover {
    color: black;
    cursor: auto;
}



.dynamic-check-container {
    width: 100px;
    height: 30px;
    margin-right: 30px;
    border-radius: 100px;
    border: solid 1px black;
    cursor: pointer;
}

.dynamic-check {
    width: 30px;
    height: 30px;
    background-color: rgb(0, 113, 189);
    border-radius: 100%;
    transition: 250px;
}

.dynamic-check-checked {
    margin-left: 34px;
}

.question5 h1 {
    text-align: left;
    align-items: flex-start;
}