/*Pesquisa de CSAT*/
.question-container {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.question-container h1 {
    font-size: 1.4rem;
}

.icon-content {
    display: flex;
    margin-top: -20px;
}

.star-icon {
    width: 60px;
    height: 60px;
    opacity: 0.6;
    transition: 250ms;
    scale: 0.8;
    cursor: pointer;
}

.star-icon:hover {
    scale: 1;
    opacity: 1;
}

.selected {
    opacity: 1;
    scale: 1;
}

.multilinha {
    margin-bottom: 20px;
}

.question0 {
    display: none;
}


.deleted-field {
    display: none;
}

.nps-tag {
    color: white;
    font-size: 0px;
}

.request_custom_fields_24962896919323,
.request_custom_fields_24962889637019,
.request_custom_fields_24962908572315,
.request_custom_fields_24963698304667 {
    display: flex;
}

#request_custom_fields_24962896919323,
#request_custom_fields_24962889637019,
#request_custom_fields_24962908572315,
#request_custom_fields_24963698304667,
#request_custom_fields_24962896919323_label,
#request_custom_fields_24962889637019_label,
#request_custom_fields_24962908572315_label,
#request_custom_fields_24963698304667_label {
    display: none;
}

.check-container {
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: rgb(230, 230, 230);
    cursor: pointer;
    padding: 20px;
    width: 700px;
    font-size: 1.2rem;
    font-weight: bold;
    transition: 250ms;
}

.check-container:hover {
    background-color: rgb(214, 214, 214);
}

.checked {
    width: 750px;
    background-color: rgb(0, 113, 189);
    color: white;
}

.checked img {
    filter: invert(100%);
}

.img-checkbox {
    width: 60px;
    height: auto;
    margin-right: 15px;
    order: -1;
}

.dynamic-container {
    width: 60px;
    height: 30px;
    border: solid 2px black;
    order: -2;
    cursor: pointer;
    border-radius: 100px;
    margin-right: 15px;
}

.dynamic-btn {
    height: 100%;
    width: 50%;
    background-color: rgb(0, 113, 189);
    border-radius: 100%;
    transition: 150ms;
}

#request_custom_fields_24963698304667 {
    display: none;
}

.request_custom_fields_24963698304667 {
    align-items: center;
}

.request_custom_fields_2496369830466 label {
    font-size: 1.2rem;
}

.dynamic-checked {
    background-color: rgb(67, 247, 190);
}


@media screen and (max-width: 600px) {
    .question-container {
        margin-top: 20px;
        flex-direction: column;
        align-items: flex-start;
    }

    .question-container h1 {
        font-size: 1rem;
    }

    .icon-content {
        margin-top: 0px;
    }

    .star-icon {
        width: 40px;
        height: 40px;
    }

    .request-form textarea {
        min-height: 80px;
    }
}