.banner-container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    overflow: hidden;
}

.banner-container img {
    position: absolute;
    width: 100%;
    max-width: 1400px;
    height: 100%;
    max-height: 40vh;
    margin: 0 auto;
    object-fit: cover;
}

.banner-container a {
    opacity: 0;
    transition: opacity 400ms;
}

.banner-container a.selected {
    opacity: 1;
}

.categorie-card {
    width: 300px;
    height: 150px;
    background-color: white;
    box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.2);
    transition: 250ms;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.categorie-card:hover {
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
    border-left: 3px solid rgb(0, 89, 145);
}

.categorie-icon {
    width: 40px;
    height: auto;
}

.show-more-btn {
    width: 100px;
    height: 40px;
    background-color: none;
    border: none;
    color: rgb(0, 89, 145);
    margin: 0 auto;
}

.footer {
    width: 100%;
    border-top: 1px solid #ddd;
    margin-top: 60px;
    padding: 30px 0;
    height: 40vh;
    background-color: #05588c;
    display: flex;

    & div {
        width: 50%;
        height: 100%;
    }
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;

    & h2 {
        color: white;
        font-weight: 300;
    }

    & span {
        color: #048dcc;
        font-size: 30px;
    }
}

.redes-container {
    display: flex;

    & img {
        width: 50px;
        height: auto;
    }
}

.logo-footer-container {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 120px;
        height: auto;
    }
}

.recent-title {
    text-align: center;
    margin-top: 50px;
}

.frequently-container {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
    background-color: white;
    margin-bottom: 50px;

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    & h3 {
        font-weight: bold;
    }

    & .frequently-card {
        position: relative;
        width: 340px;
        height: 250px;
        background-color: white;
        box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.2);
        transition: 150ms;
        padding: 15px;
    }

    & .frequently-card:hover {
        scale: 1.01;
    }

    & a {
        color: #05588c;
    }
}

.blue-detail {
    position: absolute;
    width: 5px;
    height: 25px;
    background-color: #05588c;
    left: -10px;
    top: 20px;
}

@media screen and (max-width: 600px) {
    .footer {
        flex-direction: column;

        & div {
            width: 100%;
            height: 50%;
        }
    }

    .contact-container {
        align-items: center;
    }

    .redes-container {
        width: 100%;
        justify-content: center;
    }
}