<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>testes</title>
</head>

<body>

    <!--
        Código para verificação se usuário logado ou não
    -->

    {{#unless signed_in}}
    <!--Aqui será inserido o código html desejado-->
    <li>
        {{#link "sign_in" class="sign-in"}}
        {{t 'sign_in'}}
        {{/link}}
    </li>
    {{/unless}}

</body>

</html>