<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>testes</title>
</head>

<body>

    <span class="pedidosCompras-span">Pedidos/compras</span>
    <select id="pedidosCompras">
        <option selected>-</option>
        <option value="información_de_entrega/costos">Información de entrega/Costos</option>
        <option value="info_tarjeta_regalo/códigos_promocionales">Info Tarjeta Regalo/Códigos Promocionales</option>
        <option value="info_pagos">Info Pagos</option>
        <option value="info_promociones">Info Promociones</option>
        <option value="copia_de_la_factura__data_fiscal_">Copia de la factura (Data Fiscal)</option>
        <option value="modificaciones___eliminar__cambiar_o_añadir_un_producto_al_pedido">Modificaciones : Eliminar,
            cambiar o añadir un producto al pedido</option>
        <option value="modificaciones__dirección_de_envío">Modificaciones: Dirección de envío</option>
        <option value="cancelación_de_pedido">Cancelación de pedido</option>
        <option value="estado_del_pedido">Estado del pedido</option>
        <option value="detener_sospecha_de_fraude">Detener sospecha de fraude</option>
        <option value="problemas_de_descuentos_aplicados">Problemas de descuentos aplicados</option>
        <option value="error_en_la_factura">Error en la factura</option>
        <option value="pedido_cancelado">Pedido Cancelado</option>
        <option value="pedido_no_recibido">Pedido no recibido</option>
        <option value="pedido_no_ha_sido_enviado">Pedido no ha sido enviado</option>
        <option value="código_promocional_no_aplicado">Código promocional no aplicado</option>
        <option value="problemas_de_usabilidad_en_el_sitio_web">Problemas de usabilidad en el sitio Web</option>
    </select>

</body>

</html>