.aluguel {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    & h3 {
        font-size: 18px;
        font-weight: 500;
    }

    & a {
        color: black;
    }

    .cards-aluguel {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 300px;

        a {
            width: 100%;
            text-decoration: none;
        }

        .img-card {
            width: 100px;
            height: 90%;
            background-color: white;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            & img {
                width: 35px;
                height: auto;
                background-color: white;
                border-radius: 100%;
            }
        }

        .card {
            width: 100%;
            height: 100px;
            background-color: rgb(212, 212, 212);
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }
    }
}

.residencial,
.comercial,
.rural {
    width: 150px;
    height: 80px;
}

.cards-vendas {
    margin-left: 40px;
}

.delete {
    display: none;
}

@media screen and (max-width: 920px) {
    .header-links {
        display: none;
    }

    .orange-btn {
        display: none;
    }
}

.menu-icon {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 30px;
    top: 30px;
    cursor: pointer;
}

@media screen and (min-width: 920px) {
    .menu-icon {
        display: none;
    }
}

.menu-mobiel {
    width: 100%;
    height: auto;
    background-color: white;
    position: absolute;
    top: 100px;
    opacity: 1;
    visibility: visible;
    display: flex;
    flex-direction: column;
    align-items: center;

    & ul {
        width: 70%;
        margin: 0 auto;
        margin: 15px 0px;

        a {
            text-decoration: none;
            color: black;
            font-size: 16px;
            margin: 10px 0px;
        }

        a:hover {
            text-decoration: underline;
        }
    }
}

.footer {
    position: relative;
    width: 100%;
    height: 60vh;
    padding: 20px;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    & div {
        width: 20%;
    }

    & h3 {
        margin-top: -10px;
    }

    & a {
        margin-bottom: 10px;
        color: black;
        font-size: 14px;
        text-decoration: none;
    }
}

.logo-footer {
    width: 150px;
    height: auto;
    position: absolute;
    top: 30px;
    right: 30px;
}

@media screen and (max-width: 1100px) {
    .footer {
        flex-direction: column;

        & div {
            width: 30%;
            margin: 0 auto;
        }
    }
}

@media screen and (max-width: 600px) {
    .footer {
        & div {
            width: 80%;
        }
    }
}

.select-form-btn-first {
    width: 100%;
    height: 30px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 0px;
    text-align: left;
    cursor: pointer;
}

.invisible-links {
    visibility: hidden;
    opacity: 0;
}

.visible-links {
    visibility: visible;
    opacity: 1;
}