<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class="container">
        <div class="banner-container">
            <a href=""><img src="https://suporte.ska.com.br/hc/theming_assets/01J73FXZBGYCEGC6Y10F51EW8V"
                    class="selected" alt=""></a>
            <a href=""><img
                    src="https://images.pexels.com/photos/27926064/pexels-photo-27926064/free-photo-of-a-lone-person-standing-on-top-of-a-sand-dune.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt=""></a>
            <a href=""><img src="https://cursinhoparamedicina.com.br/wp-content/uploads/2022/10/Paisagem-1.jpg"
                    alt=""></a>
        </div>

        <h1 class="categories-title">Categorias</h1>
        <div class="categories-container">
            <a href="">
                <div class="categorie-card">
                    <img src={{asset 'question.png' }} alt="" class="categorie-icon">
                    <h1>HEAXAGON</h1>
                </div>
            </a>

            <a href="">
                <div class="categorie-card">
                    <img src={{asset 'question.png' }} alt="" class="categorie-icon">
                    <h1>FORMLABS</h1>
                </div>
            </a>

            <a href="">
                <div class="categorie-card">
                    <img src={{asset 'question.png' }} alt="" class="categorie-icon">
                    <h1>ESPRIT</h1>
                </div>
            </a>

            <a href="">
                <div class="categorie-card">
                    <img src={{asset 'question.png' }} alt="" class="categorie-icon">
                    <h1>LANTEK</h1>
                </div>
            </a>
        </div>

        <button class="show-more-btn">Ver Mais</button>
    </div>

</body>

</html>