<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>



</body>

<footer>
    <img src={{asset 'logo-credito-real.png' }} alt="" class="logo-footer">

    <div>
        <h1>Na real? <br>Deixa com a CR.</h1>
        <p>
            A plataforma de soluções imobiliárias que <br>
            está sempre ao seu lado, com uma equipe <br>
            especializada no que é importante pra você
        </p>
    </div>

    <div>
        <h3>Central de Locação</h3>
        <h3>Porto Alegre</h3>
        <a href="tel:05132141414">51 3214-1414</a><br>

        <h3>Florianópolis</h3>
        <a href="https://api.whatsapp.com/send?1=pt_BR&phone=551130038397">55 11 3003-8397</a><br>

        <h3>Interior</h3>
        <a href="">Consulte agências</a><br>

        <h3>Central de Vendas</h3>
        <h3>Porto Alegre</h3>
        <a href="tel:0512165.0965">51 2165-0965</a><br>

        <h3>Florianópolis</h3>
        <a href="tel:04825000110">48 2500-0110</a>

        <h3>São Paulo</h3>
        <a href="tel:01150260000">11 5026-0000</a>
    </div>

    <div>
        <h3>Acesso rápido</h3>
        <a href="https://conectese.creditoreal.com.br/conectese/dashboard">Área do Cliente</a>
        <a
            href="https://api.whatsapp.com/send?1=pt_BR&phone=551130038397&text=Ol%C3%A1,%20gostaria%20da%202%C2%AA%20via%20do%20meu%20boleto">2a
            Via de Boleto</a>
        <a href="https://www.creditoreal.com.br/anunciar-imovel">Calculadora de imóveis</a>
        <a href="https://www.creditoreal.com.br/condominios/downloads">Documentação condomínio</a>
        <a href="https://www.creditoreal.com.br/alugueis/downloads">Documentação locação</a>
    </div>

    <div>
        <h3>Institucional</h3>

        <a href="https://www.creditoreal.com.br/institucional">Sobre a CR</a>
        <a href="https://www.creditoreal.com.br/blog">Blog crédito real</a>
        <a href="https://www.creditoreal.com.br/agencias-imobiliarias">Nossas franquias</a>
        <a href="https://creditoreal.solides.jobs/">Trabalhe conosco</a>
        <a href="https://www.creditoreal.com.br/contato">Contato</a>
        <a href="https://www.creditoreal.com.br/faq">FAQ</a>
    </div>

    <div>
        <h3>Soluções CR</h3>
        <a href="https://www.creditoreal.com.br/anunciar-imovel">Anuncie um imóvel</a><br>
        <a href="https://www.creditoreal.com.br/condominios">Condomínios</a>

        <h3>App conecte-se</h3>
        <a href="https://apps.apple.com/br/app/conecte-se-cr%C3%A9dito-real/id1402158836">App store</a>
        <a href="https://play.google.com/store/apps/details?id=com.creditoreal">Google Play</a>
    </div>
</footer>

</html>