<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class="container">
        <div class="banner-container">
            <a href=""><img src="https://suporte.ska.com.br/hc/theming_assets/01J73FXZBGYCEGC6Y10F51EW8V"
                    class="selected" alt=""></a>
            <a href=""><img
                    src="https://images.pexels.com/photos/27926064/pexels-photo-27926064/free-photo-of-a-lone-person-standing-on-top-of-a-sand-dune.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt=""></a>
            <a href=""><img src="https://cursinhoparamedicina.com.br/wp-content/uploads/2022/10/Paisagem-1.jpg"
                    alt=""></a>
        </div>

        <h1 class="categories-title">Categorias</h1>
        <div class="categories-container">
            <a href="">
                <div class="categorie-card">
                    <img src={{asset 'question.png' }} alt="" class="categorie-icon">
                    <h1>HEAXAGON</h1>
                </div>
            </a>

            <a href="">
                <div class="categorie-card">
                    <img src={{asset 'question.png' }} alt="" class="categorie-icon">
                    <h1>FORMLABS</h1>
                </div>
            </a>

            <a href="">
                <div class="categorie-card">
                    <img src={{asset 'question.png' }} alt="" class="categorie-icon">
                    <h1>ESPRIT</h1>
                </div>
            </a>

            <a href="">
                <div class="categorie-card">
                    <img src={{asset 'question.png' }} alt="" class="categorie-icon">
                    <h1>LANTEK</h1>
                </div>
            </a>
        </div>

        <button class="show-more-btn">Ver Mais</button>
    </div>

</body>

<footer class="footer">
    <div class="contact-container">
        <h2>Comercial <span>0800 510 2900</span> <br>
            Suporte <span>51 3591 2900</span></h2>

        <div class="redes-container">
            <a href=""></a>

            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook"
                viewBox="0 0 16 16">
                <path
                    d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951" />
            </svg>

            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-instagram"
                viewBox="0 0 16 16"></svg>

            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-youtube"
                viewBox="0 0 16 16"></svg>
            <path
                d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.01 2.01 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.01 2.01 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31 31 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.01 2.01 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A100 100 0 0 1 7.858 2zM6.4 5.209v4.818l4.157-2.408z" />
            </svg>
            <img src="" alt="">
        </div>
    </div>

    <div class="logo-footer-container">
        <img src="" alt="">
    </div>



    <div class="frequently-container">
        <div class="frequently-card">
            <h3>Erro ao comprovar licença</h3>
            <p>
                Caso a mensagem abaixo seja apresentada ao iniciar o software Lantek,
                uma solução simples de início ou reinício do serviço de licenças (Lantek KeyServer)
                pode ser aplicada...
            </p>
            <a href="https://suporte.ska.com.br/hc/pt-br/articles/360056911472-Erro-ao-comprovar-licen%C3%A7a">
                leia mais
            </a>

            <div class="blue-detail"></div>
        </div>

        <div class="frequently-card">
            <h3>Como habilitar a autenticação<br> em dois fatores</h3>
            <p>
                A autenticação em dois fatores é um recurso de segurança adicional para acesso à sua plataforma,
                trazendo assim, mais tranquildade para você e segurança para suas informações...
            </p>
            <a
                href="https://suporte.ska.com.br/hc/pt-br/articles/4411962462740-Como-habilitar-a-autentica%C3%A7%C3%A3o-em-dois-fatores">leia
                mais</a>
        </div>

        <div class="frequently-card">
            <h3>Remover software</h3>
            <p>
                Se a instalação do EDGECAM não estiver funcionando corretamente, a remoção do software
                (seguida de uma instalação limpa) pode resolver o problema. O utilitário Ferramenta...
            </p>
            <a href="https://suporte.ska.com.br/hc/pt-br/articles/22037742860820-Remover-software">leia mais</a>
        </div>
    </div>


</footer>

</html>