<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ultrafarma</title>
</head>

<body>

    <div class="container">
        <div class="form" style="margin: 0 auto;">
            <form class="request-form">

                <h1 class="form-title">Enviar solicitação</h1>

                <div class="form-field">
                    <input type="text" placeholder="Insira seu nome completo:" class="customer-name">
                </div>

            </form>
        </div>
    </div>

</body>

</html>