<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ultrafarma</title>
</head>

<header>
    <a href="#" class="logo-header">LOGO</a>
</header>

<body>

    <div class="pop-up-warning">
        <p></p>
    </div>

</body>

<footer>
    <div class="footer-content">
        <div class="content-footer">
            <a href="#">LOGO CLIENTE</a>

            <div>
                <a href="#">Produtos</a>
                <a href="#">BLOG</a>
                <a href="#">Comprar</a>
                <a href="#">Contactos</a>
            </div>
        </div>

        <div class="redes">
            <img src={{asset 'facebook.png' }} alt="">
            <img src={{asset 'instagram.png' }} alt="">
            <img src={{asset 'whatsapp.png' }} alt="">
        </div>

        <p style="text-align: center;">&copy; 2024 Seu Nome ou Sua Empresa. Todos os direitos reservados.</p>
    </div>
</footer>

</html>