<footer class="footer">
  <div class="footer-content">
    <div class="redes">
      <a href="" class="redes-icon">
        <img src={{asset 'instagram.png' }}>
      </a>

      <a href="" class="redes-icon">
        <img src={{asset 'facebook.png' }}>
      </a>

      <a href="" class="redes-icon">
        <img src={{asset 'twiter.png' }}>
      </a>

      <a href="" class="redes-icon">
        <img src={{asset 'youtube.png' }}>
      </a>
    </div>

    <p>© 2024 SOLIS DISTRIBUIDORA DE PRODUTOS PARA SAÚDE, SERVIÇOS COMERCIAIS E LOGISTICA
      LTDA | FARMÁCIA NATURAL SER BY HERBARIUM<br> CNPJ: 06.317.222/0003-80 | IE: 90344730-37 |
      Avenida Santos Dumont Nº 1100 | CEP: 83403-500 | Colombo – Paraná Farmacêutica
      Responsável: Quele Beatriz Nunes | CRF/PR – 27.071 | Autorização MS: 0.44894.4
      Telefone: (41) 2104-5573 | Horário de funcionamento da loja física: Segunda a
      sexta-feira, das 13h30 às 16h30.</p>
  </div>
</footer>