.subtitle-csat {
    font-weight: 300;
    max-width: 650px;
    margin: 0 auto;
    text-align: left;
    text-indent: 15px;
    box-shadow: 2px 3px 5px #3cb757;
}

.boolean h4 {
    font-weight: 300;
}

.request_custom_fields_30588810743571 {
    display: none;
}

.nps-container {
    width: 100%;
    display: flex;
}

.nps-container div {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background-color: #e1fbe7;
    color: #3cb757;
    margin-right: 5px;
    font-size: 16px;
    transition: 150ms;
    cursor: pointer;
}

.nps-container div:hover {
    scale: 1.05;
    background-color: #3cb757;
    color: #e1fbe7;
}

.selected {
    scale: 1.05;
    background-color: #3cb757 !important;
    color: #e1fbe7 !important;
}

.request_custom_fields_30588528641043 {
    display: block !important;
}

.answer-box {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
}

.answer-box label {
    margin-left: 10px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.answer-box input {
    width: 10px;
    height: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50%;
    border: 2px solid #ccc;
    background-color: white;
    position: relative;
    cursor: pointer;
    transition: background-color 0.2s, border-color 0.2s;
    margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
    .nps-container {
        flex-direction: row;
    }

    .nps-icon {
        width: 20px !important;
        height: 20px !important;
        margin-bottom: 5px !important;
        margin-top: 5px !important;
        font-size: 14px !important;
    }
}